/* part1 */
#plano :hover {
    background: #93278F;
    color: #fff;
} 

.girl {
    background: url(../img/husai/home_page/girl.png) no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.altura-50{ min-height: 50px !important;}
.altura-40{ min-height: 40px !important;}
.altura-20{min-height: 20px;}
.altura-10{min-height: 10px;}
.box-height-500{ min-height: 500px;}
.box-pt-pb-20{padding-top:20px;padding-bottom: 20px;}

.mt-20-mb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-header{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}
.btn-husai {
    background-color: #93278F;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #F0E738;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-husai:hover {
    background-color: #F0E738;
    color: #93278F;
    text-decoration: none;
}

.btn-download {
    background-color: #fff;
    color: #93278F;
    border-radius: 20px;
    border: 2px solid #93278F;
    padding: 5px 20px 5px 20px;
}

.btn-download:hover {
    background-color: #93278F;
    color: #fff;
    text-decoration: none;
}

.btn-fale-connosco {
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #F0E738;
    padding: 5px 20px 5px 20px;
}

.btn-fale-connosco:hover {
    color: #d1d1d1;
    text-decoration: none;
}

.chourico {
    background-color: #e1e1eb;
    color: #c1c1c1;
    border-radius: 20px;
    border: 1px solid #d1d1d1;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.chourico strong{
    text-transform: uppercase;
    color: grey;
}

.margem-clientes {
    margin: 10px;
    border-radius: 15px;
}

.barra-top {
    border-top: 1px solid #c1c1c1;
    padding-top: 30px;
}

.btn-ver-planos {
    background-color: #93278F;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

.img-hospedagem {
    width: inherit;
    height: inherit;
    z-index: 1;
    position: absolute;
    top: 10px;
}

.box-img-hospedagem {
    width: 100px;
    height: 100px;
}

.ok-circle-icon{
    color: #93278F;
    font-size: 16px;
}

.btn-entrar{
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
    border-color: #F0E738;
    color: #fff;
    border-radius: 10px;
}

.btn-entrar:hover{
    color: #e1e1eb;
}

.bg-image{
    background: url(../img/husai/hospedagem/hospedam-bg.png) no-repeat;
    height: inherit;
    position: relative;
    background-size: cover;
    max-height: 500px !important;
    background-size: 100% !important;
    height: 70px;
}

.banner-bg-yellow{
    background: #F0E738;
    padding: 20px 0;
    text-align: center !important;
}

.banner-title-setion{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
   
}

.banner-text-center{
    margin-top: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
   
}

.border-botton-yellow{
    border-bottom: 2px solid #93278F;
}

.user-header{
    width: 326px;
    height: 220px;
    -webkit-box-shadow: 0 9px 18px rgb(0 0 0 / 8%);
    box-shadow: 0 3px 27px rgba(171, 69, 152, 0.333);
    padding: 20px;
    border-radius: 10px;
}

.user-info{
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 9px 18px rgb(0 0 0 / 8%);
    box-shadow: 0 3px 27px rgb(0 0 0 / 7%);
    padding: 20px 20px;
}

.btn-profile{
    width: 130px;
    height: 40px;
    border: 0;
    background: #F0E738;
    color: #93278F;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    font-size: 13px;
    margin: 0 15px;
    padding: 10px;
}
.btn-profile:hover{
    text-decoration: none;
    color: #495057;
}

/* Lista */
.lista{
    list-style: none;
}

.lista li {
    font-size: 12px;
    padding: 2px;
    font-weight: 500;
    color: #4c5b63;
    z-index: 1
}

.select-input{
    height: 45px;
    width: 100%;
    padding: 0 20px 0;
    font-weight: 100;
    font-size: 13px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #eff0f1;
    margin-bottom: 10px;
    color: #5a5967;
}

.text-email-input{
    height: 45px;
    width: 100%;
    padding: 0 20px 0;
    font-weight: 100;
    font-size: 13px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #eff0f1;
    margin-bottom: 10px;
}

/* links client area */
.link-client-area{
    font-size: inherit;
    color: #212529;
    text-decoration: nome;
}
.link-client-area:hover{
    color: #93278F;
    text-decoration: none;
}
.link-client-area.active{
    color: #93278F;
}
